body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf6e3;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4b7942;
    padding: 10px 20px;
    position:sticky;
    top: 0px;
    z-index: 1;}
    .navbar .menubar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.navbar .menubar a:hover {
    text-decoration: underline;
}